.banner {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: theme('spacing.2') 0;
  background-image: url('../images/banner-bg.png');
  background-color: theme('colors.white');
  box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.08);
  z-index: 2;

  &__text {
    text-align: center;
  }

  &__heading {
    font-family: theme('fontFamily.display');
    color: theme('colors.blue.DEFAULT');
    font-weight: 500;
    font-size: 20px;
  }

  &__subheading {
    font-size: 14px;
  }
}
