.best-sellers__category-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: theme('colors.beige');
  background-image: url('../images/illustration.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  border-radius: theme('borderRadius.lg');
}

.best-sellers__category-inner {
  width: 80%;
  padding: theme('spacing.6') theme('spacing.4');
  text-align: center;
  background-color: rgba(255, 255, 255, .9);
  border-radius: inherit;
}
