.hero {
  height: 75vh;
  background-image: url('../images/hero.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 620px) {
    height: 100vh;
  }
}

.hero-calendar {
  background-image: url('../images/calendar/bg-flakes-big.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 0;

  @media screen and (min-width: 620px) {
    height: 75vh;
  }
}
