.banner {
  background-image: url('../images/banner-bg.png');
  display: flex;
  align-items: center;
  padding: 0.5rem 0;

  &__text {
    text-align: center;
  }

  &__heading {
    font-family: theme('fontFamily.display');
    color: theme('colors.blue.DEFAULT');
    font-weight: 500;
    font-size: 20px;
  }

  &__subheading {
    font-size: 14px;
  }
}
