.btn-more {
  display: inline-block;
  font-size: theme('fontSize.lg');
  font-weight: theme('fontWeight.bold');
  font-family: theme('fontFamily.display');
  color: theme('colors.blue.DEFAULT');

  &::after {
    content: '';
    display: inline-block;
    width: 60px;
    height: 32px;
    margin-left: theme('spacing.2');
    vertical-align: middle;
    background-image: url('../images/drawn-arrow.png');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.btn-social {
  background-color: white;
  box-shadow: 4px 4px 11px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  border-radius: 47px;
}
