.calendar-pastille {
  width: 90px;
  height: 90px;
}

.cell {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &--show {
    background-color: theme('colors.blue.DEFAULT');
    background-image: url('../images/calendar/bg-flakes.png');
    background-size: cover;
  }

  &--1,
  &--2,
  &--3 {
    background-image: url('../images/calendar/cell-bg-1.png');
  }
  &--4,
  &--5,
  &--6 {
    background-image: url('../images/calendar/cell-bg-2.png');
  }
  &--7,
  &--8,
  &--9 {
    background-image: url('../images/calendar/cell-bg-3.png');
  }
  &--10,
  &--11,
  &--12 {
    background-image: url('../images/calendar/cell-bg-4.png');
  }
  &--13,
  &--14,
  &--15,
  &--16 {
    background-image: url('../images/calendar/cell-bg-5.png');
  }
  &--17,
  &--18,
  &--19,
  &--20 {
    background-image: url('../images/calendar/cell-bg-6.png');
  }
  &--21,
  &--22,
  &--23,
  &--24 {
    background-image: url('../images/calendar/cell-bg-7.png');
  }
}
